table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.whiteblack {
	color:white;
	background-color:#666666;
}

.bgwc {
	background-color:#f2f2f2;
}

.table1 {
	border: 1px solid black;
    border-collapse: collapse;
}

#button1 {
	border-radius: 3px;
	background-color:#f2f2f2;
	padding:5px;
}

#button2 {
	border-radius: 4px;
	background-color: green;
	padding: 5px;
}

#button3 {
	border-radius: 3px;
	background-color: red;
	padding:5px;
}
